.project {
    color: #f0f0f0;
    width: 500px;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 2em;
    z-index: 3000;
    background-color: #252525;
    border-radius: 10px;
    .project-content {
        opacity: 1;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        .project-title {
            font-size: 2em;
            font-family: "Roboto", sans-serif;
        }
    }
}
